
$app4l-primary-color: #1c64dc;
$app4l-secondary-color: #205081;

$font-lato: 'Lato', sans-serif;
$font-sand: 'Quicksand', sans-serif;


/* vendor prefixes */
$chrome :'-webkit';
$ie : '-ms-';
$moz : '-moz-';
$opera : '-o-'
